:root {
    --background-color: #222222;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #C0C0C0;
    --orange: #FF6512;
    --main-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--background-color);
    color: var(--white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
}

.menu__superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-height: 60px; */
    height: auto;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container__logo img {
    max-width:420px;
    max-height:120px;
    width: auto;
    height: auto;
}

.container__navegation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container__menu {
    margin: 0 1em;
}
.lista {
    display: inline-block;
    color: var(--white);
}

.menu__item {
    margin: 0.25em;
    font-size: 18px;
    font-weight: 500;
}

#free-class {
    background-color: var(--white);
    padding: 0.5em 0.25em;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    
}

#free-class .menu__item {
    color: var(--black);
}

#free-class:hover {
    background-color:var(--orange);
    transition: 0.3s all;
}

#free-class:hover .menu__item {
    color: var(--white);
    transition: 0.3s all;
}

.container__social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media__item {
    margin: 0 2px;
}

.social-media__icon {
    color: var(--white);
}

.lista:hover {
    color: var(--orange);
    transition: 0.3s all;
}

.social-media__icon:hover {
    color: var(--orange);
    transition: 0.3s all;
}

.principal__agendar {
    margin: 0 1em;
}

.principal__agendar p {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 12px;
    margin-bottom: 3em;
}

.principal__agendar h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 10px;
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

.principal__agendar h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 10px;
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    margin-bottom: 0.6em;
}

.principal__agendar h3 {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 4em;
}

.principal__agendar span {
    letter-spacing: 2px;
    color: var(--orange);
    font-family: var(--main-font);
}

.agendar__botao {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 1em;
    color: var(--white);
    display: block;
    text-decoration: none;
    margin: 1em 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
}

.agendar__botao:hover {
    background-color: var(--white);
    color: var(--black);
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--white);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--white);
}

.rodape__logo {
    max-width:160px;
    max-height:120px;
    width: auto;
    height: auto;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--white);
    margin: 0 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--grey);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--orange);
}

.lista__link a:active {
    color: var(--orange);
}

